<!DOCTYPE html>
<html>

{% include "server/partial/header.html" %}

<body>
	{% include "server/partial/top_bar.html" with page="Panel kierownika" %}

	<div class="content">
        <h2 style="text-align: center; padding: 20px;">Panel modyfikacji katalogu produktów</h2>

        <div class="panel">
            <h3 style="text-align: center; padding: 20px;">Kreator dodawania nowego produktu</h3>

            <div style="width: 90%; margin: auto;">
                {% include 'server/partial/form_item.html' with label='Nazwa:' input='nazwa' %}
                {% include 'server/partial/form_item.html' with label='Cena:' input='cena' %}
                {% include 'server/partial/form_item.html' with label='Kategoria:' input='kategoria' %}
            </div>

            <p style="margin-top: 40px; margin-left: 40px;">Opis:</p>
            <input style="width: 90%; margin: 10px 5%; height: 200px;" type="text" id="opis" name="opis">

            <div class="panel-footer">
                <button type="button" id="powrot">Powrót</button>
                <button type="button" id="dodaj">Dodaj produkt</button>
            </div>
        </div>
	</div>

    {% if confirm == "good" %}
		{% include "server/partial/question_msg.html" with msg=message link_if_yes=params link_if_no="/panel/edit_products/add_product?confirm=no" %}
    {% elif confirm == "bad" %}
        {% include "server/partial/info_msg.html" with msg=message link="/panel/edit_products" %}
	{% endif %}

	<script type="text/javascript">
		document.getElementById("powrot").onclick = function() {
			location.href = "/panel/edit_products";
		};
		document.getElementById("dodaj").onclick = function() {
			var nazwa = document.getElementById("nazwa").value;
			var cena = document.getElementById("cena").value;
			var kategoria = document.getElementById("kategoria").value;
			var opis = document.getElementById("opis").value;
			location.href = "/panel/edit_products/add_product?nazwa=" + nazwa + "&cena=" + cena + "&kategoria=" + kategoria + "&opis=" + opis;
		};
	</script>
</body>

</html>