<!DOCTYPE html>
<html>

{% include "server/partial/header.html" %}

<body>
	{% include "server/partial/top_bar.html" with page="Koszyk" %}

	<div class="content">
		{% if products_list %}
			<div class="product-box">
				<!-- if product is not a string, replace it with correct calls below -->
				{% for product, amount in products_list %}
					<div class="product">
						<p>{{ product }}</p>
						<p>Ilość: {{ amount }}</p>
						<button type="button" id="{{ 'amount_'|add:product }}" onclick="change_amount('{{ product }}')">Zmień ilość</button>
						<button type="button" id="{{ 'remove_'|add:product }}" onclick="remove('{{ product }}')">Usuń</button>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p>Brak produktów w koszyku. Dodaj coś korzystając z przycisku poniżej :)</p>
		{% endif %}
	</div>

	<div id="footer">
		<button type="button">Powrót</button>
		<button type="button" id="zamow" {% if not products_list %} disabled{% endif %}>Kup teraz</button>
		<button type="button" id="dodaj">Dodaj...</button>
	</div>

	<script type="text/javascript">
		document.getElementById("dodaj").onclick = function() {
			location.href = "/my_cart/search";
		};
		document.getElementById("zamow").onclick = function() {
			location.href = "/my_cart/order";
		};

		function change_amount(product) {
		  	location.href = "/my_cart/change_amount?name=" + product;
		}
		function remove(product) {
		  	location.href = "/my_cart/remove?name=" + product;
		}
	</script>
</body>

</html>
