<!DOCTYPE html>
<html>

{% include "server/partial/header.html" %}

<body>
	{% include "server/partial/top_bar.html" with page="Panel kierownika" %}

	<div class="content">
		{% include "server/partial/panel_kierownika.html" %}

        <div class="panel">
            <button type="button">Zarządzanie kontami</button>
            <button type="button" id="modyfikuj">Modyfikacja katalogu produktów</button>
            <button type="button" id="dodaj">Dodaj promocję programu lojalnościowego</button>
        </div>
	</div>

	{% if authentication %}
		{% include "server/partial/login_form.html" %}
	{% elif message %}
		{% include "server/partial/info_msg.html" with msg=message link=link_ %}
	{% endif %}

	<script type="text/javascript">
		document.getElementById("modyfikuj").onclick = function() {
			location.href = "/panel?authentication=true";
		};
		document.getElementById("dodaj").onclick = function() {
			location.href = "/panel/discount_creator";
		};
	</script>
</body>

</html>