<!DOCTYPE html>
<html>

{% include "server/partial/header.html" %}

<body>
	{% include "server/partial/top_bar.html" with page="Składanie zamówienia" %}

	<div class="content">
		<div class="flex-box" style="border-bottom: 1px solid #bbb;">
			<p>Wybierz opcję zapłaty:</p>
		</div>
	</div>

	<div class="content">
		<div class="flex-box" style="border-bottom: 1px solid #bbb; flex-wrap: wrap;">
			{% include "server/partial/logo_item.html" with path="blik.png" name="Blik" %}
			{% include "server/partial/logo_item.html" with path="mbank.jpg" name="mBank" %}
			{% include "server/partial/logo_item.html" with path="santander.png" name="Santander Bank" %}
			{% include "server/partial/logo_item.html" with path="ing.jpg" name="ING Bank Śląski" %}
			{% include "server/partial/logo_item.html" with path="bnp.png" name="BNP Paribas" %}
			{% include "server/partial/logo_item.html" with path="millennium.jpg" name="Bank Millennium" %}
			{% include "server/partial/logo_item.html" with path="agricole.png" name="Credit Agricole" %}
		</div>
	</div>

	{% if message %}
		{% include "server/partial/info_msg.html" with msg=message link=link_ %}
	{% endif %}

	<div id="footer">
		<button type="button" id="anuluj">Anuluj</button>
		<button type="button" id="dalej">Dalej</button>
	</div>

	<script type="text/javascript">
		document.getElementById("anuluj").onclick = function() {
			location.href = "/my_cart/payment?status=no";
		};
		document.getElementById("dalej").onclick = function() {
            location.href = "/my_cart/payment?status=yes";
		};
	</script>
</body>

</html>