<!DOCTYPE html>
<html>

{% include "server/partial/header.html" %}

<body>
	{% include "server/partial/top_bar.html" with page="Koszyk" %}

	<div class="content">
		{% if products_list %}
			<div class="product-box">
				{% for product, amount in products_list %}
					<div class="product">
						<p>{{ product }}</p>
						<p>Ilość: {{ amount }}</p>
						<button type="button">Zmień ilość</button>
						<button type="button">Usuń</button>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p>Brak produktow w koszyku. Dodaj cos korzystajac z przycisku ponizej :)</p>
		{% endif %}
	</div>

	<div id="footer">
		<button type="button">Powrót</button>
		<button type="button">Kup teraz</button>
		<button type="button">Dodaj...</button>
	</div>

    {% include "server/partial/question_msg.html" with msg="Czy na pewno chcesz usunąć produkt "|add:product_name|add:"?" link_if_yes="/my_cart/remove?name="|add:product_name|add:"amp;confirm=yes" link_if_no="/my_cart" %}
</body>

</html>