<!DOCTYPE html>
<html>

{% include "server/partial/header.html" %}

<body>
	{% include "server/partial/top_bar.html" with page="Dodawanie produktu" %}

	<div id="search-bar">
        <p>Podaj frazę do wyszukania:</p>
        <input type="text" id="fraza" name="fraza">
        <button type="button" id="szukaj">Szukaj</button>
    </div>

	<div class="content">
		{% if products_found is True %}
			{% if products_list %}
				<div class="product-box">
					<!-- if product is not a string, replace it with correct calls below -->
					{% for product in products_list %}
						<div class="product">
							<p>{{ product }}</p>
							<button type="button" onclick="add_to_cart('{{ product }}')">Dodaj do koszyka</button>
						</div>
					{% endfor %}
				</div>
			{% else %}
				{% include "server/partial/info_msg.html" with msg="Nie znaleziono niczego" link="/my_cart/search" %}
			{% endif %}
		{% endif %}
	</div>

	<div id="footer">
		<button type="button" id="anuluj">Anuluj</button>
	</div>

    <script type="text/javascript">
		document.getElementById("anuluj").onclick = function() {
			location.href = "/my_cart";
		};
		document.getElementById("szukaj").onclick = function() {
			var inputVal = document.getElementById("fraza").value;
			if (inputVal != "" && inputVal != null) {
                location.href = "/my_cart/search?phrase=" + inputVal;
            } else {
                location.href = "/my_cart/search";
            }
		};
		function add_to_cart(product) {
		  	location.href = "/my_cart/add_to_cart?name=" + product;
		}
	</script>
</body>

</html>