<div class="message-box center">
    <div class="message-half">
        <p>{{ msg }}</p>
    </div>
    <div class="message-half message-flex">
        <button type="button" id="tak">Tak</button>
        <button type="button" id="nie">Nie</button>
    </div>
</div>
<div class="overlay"></div>

<script type="text/javascript">
    document.getElementById("tak").onclick = function() {
        location.href = '{{ link_if_yes }}';
    };
    document.getElementById("no").onclick = function() {
        location.href = '{{ link_if_no }}';
    };
</script>